body{
	background-color: white;
	color: black;
}

h1, h2, header p{text-align: center;}

figure{width: 32%; height: auto; float: left; margin-top: 20px;}

img{width: 90%; height: auto;}

.fim{clear: both;}

figcaption{font-weight: bolder;}

.nImprimir{display: none;}